*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#box{
    position: relative;
    width: 800px;
    height: 160px;
    margin: 100px auto;
    border: 2px dashed lightblue;
    overflow: hidden;
}
#box .box{
    position: absolute;
    height: 100%;
    left: 0;
    top:0;
}
#box .box img{
    width: 200px;
    height: 100%;
    float: left;
}
